@using Everest.API
@using Everest.Domain
@{
    using (var template = Html.Incoding().Template<GetOrderQuery.Response>())
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @using (template.NotEach())
            {
                <tr>
                    <td colspan="3">
                        @DataResource.Empty
                    </td>
                </tr>
            }
            @using (var each = template.ForEach())
            {
                <tr>
                    <td>

                    </td>@each.For(q => q.NameOfOrder)
                    <td>
                        @each.For(q => q.Comment)
                    </td>
                    <td>
                        @each.For(q => q.Status)
                    </td>
                </tr>
            }

            </tbody>
        </table>
    }
}