@using Everest.API
@using Everest.Domain
@{
    using (var template = Html.Incoding().Template<GetOrderQuery.Response>())
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @using (template.NotEach())
            {
                    <tr>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Выпадающее меню
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Пункт 1</a></li>
                                <li><a class="dropdown-item" href="#">Пункт 2</a></li>
                                <li><a class="dropdown-item" href="#">Пункт 3</a></li>
                            </ul>
                        </div>


                    <td colspan="3">
                        @DataResource.Empty
                    </td>
                </tr>
            }
            @using (var each = template.ForEach())
            {
                <tr>
                    <td>

                    </td>@each.For(q => q.Name)
                    <td>
                        @each.For(q => q.Comment)
                    </td>
                    <td>
                        @each.For(q => q.Status)
                    </td>
                </tr>
            }

            </tbody>
        </table>
    }
}