@model Everest.API.DropDownModel 

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        @Model.Text <!-- Предполагается, что Text не должно быть null -->
    </button>
    <ul class="dropdown-menu">
        <!-- Если список элементов пуст -->
        @if (Model.Items == null || !Model.Items.Any()) 
        {
            <li><span class="dropdown-item">Empty</span></li>
        }
        <!-- Иначе отображаем элементы из списка -->
        else
        {
        @foreach (var item in Model.Items)
        {
            <li>
                <a class="dropdown-item" href="javascript:void(0)" data-value="@item?.Value">@item?.Text</a> <!-- Предполагается, что item и его свойства не null -->
            </li>
        }
        }
    </ul>

    <!-- Проверяем, что Url и Template не null перед использованием -->
    @if (Model.Url != null && Model.Template != null)
    {
        @(Html.When(JqueryBind.InitIncoding)
            .Ajax(Model.Url)
            .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView(Model.Template))
            .AsHtmlAttributes(new { @class = "dropdown-item"})
            .ToTag(HtmlTag.Ul))
    }
</div>