@using Everest.API
@using Everest.Domain
@using Incoding.Web.Extensions


<div class="row">
    <div>
        @(Html.When(JqueryBind.KeyUp)
            .Ajax(Url.Dispatcher().Query(new GetProductQuery()).AsJson().AppendToQueryString(new { Search = Selector.Jquery.Self() }))
            .OnSuccess(dsl => { dsl.WithId(nameof(GetProductQuery)).Insert.WithTemplateByView("~/Views/App/Product/Tmpl.cshtml").Html(); })
            .AsHtmlAttributes(new { placeholder = @DataResource.ProductSearch })
            .ToInput(HtmlInputType.Text, String.Empty))
            
        @await Html.PartialAsync("~/Views/Shared/DropDown.cshtml", new DropDownModel
        {
            Text = "Фильтры",
            Url = Url.Dispatcher().Query<GetCategoryForDDQuery>().AsJson(),
            Template = "~/Views/Shared/DropDownItem_Tmpl.cshtml"
        })
        <div>
            @(Html.When(JqueryBind.InitIncoding)
                .Ajax(new GetProductQuery())
                .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Product/Tmpl.cshtml").Html())
                .AsHtmlAttributes(new { @class = "row", id = nameof(GetProductQuery) })
                .ToDiv())
        </div>
    </div>
</div>
