@using Everest.API
<h1>Ваш заказ успешно оформлен</h1>
<p>Номер вашего заказа: </p>


<h2>Благодарим, что выбрали нас!</h2>

<a href="@Url.Action("Main", "Home")" class="btn">
    <span>@DataResource.Main</span>
</a>