@using Everest.API
@using Everest.Domain

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="dt-buttons btn-group flex-wrap">
            @(Html.When(JqueryBind.InitIncoding)
                .Ajax(new GetCartItemsByCurrentUserQuery())
                .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Cart/Tmpl.cshtml").Html())
                .AsHtmlAttributes(new { @class = "col-sm-12 col-md-12", id = nameof(GetCartItemsByCurrentUserQuery) })
                .ToDiv())
            @(Html.When(JqueryBind.Click)
                .Ajax(Url.Dispatcher().Query(new AddOrEditOrderCommand.AsQuery()).AsView("~/Views/App/Order/Index.cshtml"))
                .OnSuccess(dsl => dsl.With(q => q.Tag(HtmlTag.Body)).Insert.Append())
                .AsHtmlAttributes(new { @class = "btn btn-secondary buttons-copy buttons-html5" })
                .ToButton(@<text>
                               <span>@DataResource.Checkout</span>
                           </text>))

        </div>
    </div>
</div>