@model Everest.API.DropDownModel

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        @Model.Text
    </button>
    <ul class="dropdown-menu">
        @foreach (var item in Model.Items)
        {
            <li><a class="dropdown-item" href="javascript:void(0)" data-value="@item.Value">@item.Text</a></li>
        }
    </ul>

    @(Html.When(JqueryBind.InitIncoding)
        .Ajax(Model.Url)
        .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView(Model.Template))
        .AsHtmlAttributes(new { @class = "dropdown-item"})
        .ToTag(HtmlTag.Ul))
</div>