@using Everest.API
@using Everest.Domain
@using Incoding.Web.Extensions


<div class="people">
    <div>
            @(Html.When(JqueryBind.InitIncoding)
                .Ajax(new GetEmployeesQuery())
                .OnSuccess(dsl => dsl.Self().Insert.WithTemplateByView("~/Views/App/Employee/Tmpl.cshtml").Html())
                .AsHtmlAttributes(new { @class = "people", id = nameof(GetEmployeesQuery) })
                .ToDiv())
    </div>
</div>