@using Everest.Domain
@using Everest.API
@using (var template = Html.Incoding().Template<GetPartnerQuery.Response>())
{
    @using (template.NotEach())
    {
        <div>@DataResource.Empty</div>
    }

    @using (var each = template.ForEach())
    {
        <div class="partners-list">
            <a href="@each.For(q => q.Site)" class="partner" target="_blank">
                <img src="@(Url.Dispatcher().Query<GetLabelPartnerQuery>(new { Id = each.For(q => q.Id) }).AsFile(incContentType: "image/jpeg", incFileDownloadName: "avatar"))" />


                <span>
                    @each.For(q => q.CompanyName)
                </span>
            </a>
        </div>
    }
}