@using Everest.API
@using Everest.Domain
@using Incoding.Core
@using Incoding.Core.CQRS
@using Incoding.Web.CQRS.Common.Command

    <div class="carousel">
        <a class="prev btn" id="carousel-prev">
            <span class="material-symbols-outlined">
                chevron_left
            </span>
        </a>

        <div class="d-flex overflow-x-hidden" id="carousel-container">
            <div class="carousel-content show" name="carousel-item">
                <img src="resources/images/carousel-1.jpg" class="image">

                <div class="text">
                    <h1>
                        Нижегородский Кремль
                    </h1>

                    <span class="description">
                        Крепость в историческом центре Нижнего Новгорода и его древнейшая часть, главный общественно-политический и историко-художественный комплекс города
                    </span>
                </div>
            </div>

            <div class="carousel-content" name="carousel-item">
                <img src="resources/images/carousel-1.jpg" class="image">

                <div class="text">
                    <h1>
                        Нижегородский Кремль
                    </h1>

                    <span class="description">
                        Крепость в историческом центре Нижнего Новгорода и его древнейшая часть, главный общественно-политический и историко-художественный комплекс города
                    </span>
                </div>
            </div>

            <div class="carousel-content" name="carousel-item">
                <img src="resources/images/carousel-1.jpg" class="image">

                <div class="text">
                    <h1>
                        Нижегородский Кремль
                    </h1>

                    <span class="description">
                        Крепость в историческом центре Нижнего Новгорода и его древнейшая часть, главный общественно-политический и историко-художественный комплекс города
                    </span>
                </div>
            </div>
        </div>

        <a class="next btn" id="carousel-next">
            <span class="material-symbols-outlined">
                chevron_right
            </span>
        </a>
    </div>
