/* styles.css */

.cart-icon {
    position: absolute;
    top: 10px; /* Регулируйте отступ сверху в зависимости от вашего дизайна */
    right: 10px; /* Регулируйте отступ справа в зависимости от вашего дизайна */
}
