@using Everest.API
@using Everest.Domain

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="dt-buttons btn-group flex-wrap">
            <!-- Выпадающий список для выбора категорий -->
            @Html.ForGroup(q => q).DropDown(control =>
                     {
                         control.Label.Name = DataResource.CategoryName;
                         control.Input.Data = Html.Dispatcher().Query(new GetCategoryForDDQuery() { Type = Category.OfType.Product});
                     })

            <!-- Добавьте здесь остальные элементы управления или кнопки -->
        </div>
    </div>
</div>